<header>
  {{session | async}}
</header>

<form [formGroup]="signInForm">
  <ul>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput placeholder="example@mail.com" name="email" formControlName="email" />
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput name="password" formControlName="password" />
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button color="primary" [disabled]="!signInForm.valid" (click)="handleSignin()">sign in</button>
    </li>
  </ul>
</form>