<mat-toolbar class="tpl__app-toolbar" color="primary">
  <span class="tpl__app-toolbar__left">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </span>
  
  <span class="tpl__app-toolbar__middle">
    <h1>ddd tpl angular</h1>
  </span>

  <span class="tpl__app-toolbar__right">
    <button mat-button color="secondary" (click)="handleNavigateSignIn()">sign in</button>
    <button mat-button color="secondary" (click)="handleNavigateSignUp()">sign up</button>
  </span>
</mat-toolbar>